.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #393e46;
}

.App-link {
  color: #55ae95;
}

.dMartinique:hover {
  color: #7232bd;
}

.Imlink {
  border-bottom-color: transparent;
  text-decoration: none;
  color: #c32aa3;
}

.span {
  color: #4c5fd7;
  font-weight: 15px;
}
